<div class="flex">
  <p-button
    class="mx-auto"
    label="New Client"
    (click)="showDialog()"
    icon="pi pi-plus"
  />
  <div class="card flex justify-content-center">
    <p-dialog header="Add New Client" [modal]="true" [(visible)]="visible">
      <form [formGroup]="createClientForm" (ngSubmit)="onSubmit()">
        <div class="flex align-items-center gap-3 mt-3">
          <label for="firstname" class="font-semibold w-6rem">Firstname</label>
          <input
            formControlName="name"
            pInputText
            id="firstname"
            class="flex-auto"
            autocomplete="off"
          />
        </div>
        <div
          style="color: red"
          *ngIf="createClientForm.controls['name'].status === 'INVALID'"
        >
          <div
            *ngIf="createClientForm.controls['name'].touched && createClientForm.controls['name'].errors?.['required']"
          >
            {{createClientForm.controls['name'].errors?.['required']}}
          </div>
          <div
            *ngIf="createClientForm.controls['name'].touched && createClientForm.controls['name'].errors?.['invalidLength']"
          >
            {{createClientForm.controls['name'].errors?.['invalidLength']}}
          </div>
          <div
            *ngIf="createClientForm.controls['name'].touched && createClientForm.controls['name'].errors?.['invalidCharacters']"
          >
            {{createClientForm.controls['name'].errors?.['invalidCharacters']}}
          </div>
        </div>
        <div class="flex align-items-center gap-3 mt-5">
          <label for="lastname" class="font-semibold w-6rem">Lastname</label>
          <input
            formControlName="surname"
            pInputText
            id="lastname"
            class="flex-auto"
            autocomplete="off"
          />
        </div>
        <div
          style="color: red"
          *ngIf="createClientForm.controls['surname'].status === 'INVALID'"
        >
          <div
            *ngIf="createClientForm.controls['surname'].touched && createClientForm.controls['surname'].errors?.['required']"
          >
            {{createClientForm.controls['surname'].errors?.['required']}}
          </div>
          <div
            *ngIf="createClientForm.controls['surname'].touched && createClientForm.controls['surname'].errors?.['invalidLength']"
          >
            {{createClientForm.controls['surname'].errors?.['invalidLength']}}
          </div>
          <div
            *ngIf="createClientForm.controls['surname'].touched && createClientForm.controls['surname'].errors?.['invalidCharacters']"
          >
            {{createClientForm.controls['surname'].errors?.['invalidCharacters']}}
          </div>
        </div>
        <div class="gender-card flex justify-content-center mt-5">
          <label for="gender" class="font-semibold w-6rem">Gender</label>
          <p-dropdown
            formControlName="gender"
            [options]="genders"
            placeholder="Select a Genderr"
          />
        </div>
        <div
          style="color: red"
          *ngIf="createClientForm.controls['gender'].status === 'INVALID'"
        >
          <div
            *ngIf="createClientForm.controls['gender'].touched && createClientForm.controls['gender'].errors?.['required']"
          >
            ველის შევსება სავალდებულოა
          </div>
        </div>
        <div class="flex align-items-center gap-3 mt-5">
          <label for="personalId" class="font-semibold w-6rem"
            >PersonalId</label
          >
          <input
            formControlName="personalId"
            pInputText
            id="personalId"
            class="flex-auto"
            autocomplete="off"
          />
        </div>
        <div
          style="color: red"
          *ngIf="createClientForm.controls['personalId'].status === 'INVALID'"
        >
          <div
            *ngIf="createClientForm.controls['personalId'].touched && createClientForm.controls['personalId'].errors?.['required']"
          >
            ველის შევსება სავალდებულოა
          </div>
          <div
            *ngIf="createClientForm.controls['personalId'].touched && createClientForm.controls['personalId'].errors?.['pattern']"
          >
            შეიყვანეთ 11 ციფრი
          </div>
        </div>
        <div class="flex align-items-center gap-3 mt-5">
          <label for="phoneNumber" class="font-semibold w-6rem"
            >Phone Number</label
          >
          <input
            formControlName="phoneNumber"
            pInputText
            id="phoneNumber"
            class="flex-auto"
            autocomplete="off"
          />
        </div>
        <div
          style="color: red"
          *ngIf="createClientForm.controls['phoneNumber'].status === 'INVALID'"
        >
          <div
            *ngIf="createClientForm.controls['phoneNumber'].touched && createClientForm.controls['phoneNumber'].errors?.['required']"
          >
            ველის შევსება სავალდებულოა
          </div>
          <div
            *ngIf="createClientForm.controls['phoneNumber'].touched && createClientForm.controls['phoneNumber'].errors?.['pattern']"
          >
            შეიყვანეთ 8 ნიშნა ნომერი. ნომერი უნდა იწყებოდეს 5-ით.
          </div>
        </div>
        <div class="mt-5">Legal Address</div>
        <div formGroupName="legalAddress" class="flex flex-column gap-2 mt-2">
          <div class="flex align-items-center gap-3">
            <label for="countryLegal" class="font-semibold w-6rem"
              >Country</label
            >
            <input
              formControlName="countryLegal"
              pInputText
              id="countryLegal"
              class="flex-auto"
              autocomplete="off"
            />
          </div>
          <div
            style="color: red"
            *ngIf="
              createClientForm.get('legalAddress.countryLegal')?.invalid &&
              createClientForm.get('legalAddress.countryLegal')?.touched
            "
          >
            <div
              *ngIf="createClientForm.get('legalAddress.countryLegal')?.errors?.['required']"
            >
              ველის შევსება სავალდებულოა
            </div>
          </div>
          <div class="flex align-items-center gap-3">
            <label for="cityLegal" class="font-semibold w-6rem">City</label>
            <input
              formControlName="cityLegal"
              pInputText
              id="cityLegal"
              class="flex-auto"
              autocomplete="off"
            />
          </div>
          <div
            style="color: red"
            *ngIf="
              createClientForm.get('legalAddress.cityLegal')?.invalid &&
              createClientForm.get('legalAddress.cityLegal')?.touched
            "
          >
            <div
              *ngIf="createClientForm.get('legalAddress.cityLegal')?.errors?.['required']"
            >
              ველის შევსება სავალდებულოა
            </div>
          </div>
          <div class="flex align-items-center gap-3">
            <label for="addressLegal" class="font-semibold w-6rem"
              >Address</label
            >
            <input
              formControlName="addressLegal"
              pInputText
              id="addressLegal"
              class="flex-auto"
              autocomplete="off"
            />
          </div>
          <div
            style="color: red"
            *ngIf="
              createClientForm.get('legalAddress.addressLegal')?.invalid &&
              createClientForm.get('legalAddress.addressLegal')?.touched
            "
          >
            <div
              *ngIf="createClientForm.get('legalAddress.addressLegal')?.errors?.['required']"
            >
              ველის შევსება სავალდებულოა
            </div>
          </div>
        </div>
        <div class="mt-5">Actual Address</div>

        <div
          formGroupName="actualAddress"
          class="flex flex-column align-items-center gap-2 mt-3"
        >
          <div class="flex align-items-center gap-3">
            <label for="countryActual" class="font-semibold w-6rem"
              >Country</label
            >
            <input
              formControlName="countryActual"
              pInputText
              id="countryActual"
              class="flex-auto"
              autocomplete="off"
            />
          </div>
          <div
            style="color: red"
            *ngIf="
              createClientForm.get('actualAddress.countryActual')?.invalid &&
              createClientForm.get('actualAddress.countryActual')?.touched
            "
          >
            <div
              *ngIf="createClientForm.get('actualAddress.countryActual')?.errors?.['required']"
            >
              ველის შევსება სავალდებულოა
            </div>
          </div>
          <div class="flex align-items-center gap-3">
            <label for="cityActual" class="font-semibold w-6rem">City</label>
            <input
              formControlName="cityActual"
              pInputText
              id="cityActual"
              class="flex-auto"
              autocomplete="off"
            />
          </div>

          <div
            style="color: red"
            *ngIf="
              createClientForm.get('actualAddress.cityActual')?.invalid &&
              createClientForm.get('actualAddress.cityActual')?.touched
            "
          >
            <div
              *ngIf="createClientForm.get('actualAddress.cityActual')?.errors?.['required']"
            >
              ველის შევსება სავალდებულოა
            </div>
          </div>
          <div class="flex align-items-center gap-3">
            <label for="addressActual" class="font-semibold w-6rem"
              >Address</label
            >
            <input
              formControlName="addressActual"
              pInputText
              id="addressActual"
              class="flex-auto"
              autocomplete="off"
            />
          </div>
          <div
            style="color: red"
            *ngIf="
              createClientForm.get('actualAddress.addressActual')?.invalid &&
              createClientForm.get('actualAddress.addressActual')?.touched
            "
          >
            <div
              *ngIf="createClientForm.get('actualAddress.addressActual')?.errors?.['required']"
            >
              ველის შევსება სავალდებულოა
            </div>
          </div>
        </div>
        <div class="flex justify-content-end gap-2 mt-5">
          <p-button
            label="Cancel"
            severity="secondary"
            (click)="visible = false"
          />
          <p-button [disabled]="!isFormValid()" type="submit" label="Submit" />
        </div>
      </form>
    </p-dialog>
  </div>
</div>
